/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(30, 30, 30);
    color: whitesmoke;
    accent-color: #292929;
  }

  body {
    line-height: 1.2;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  /* Wrapper */
  .container {
    width: min(800px, 90%);
    padding: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .grid-1x4 {
    width: min(800px, 90%);
    padding: 2px;
    gap: 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .grid-1x5 {
    width: min(800px, 90%);
    padding: 2px;
    gap: 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  button {
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    border-color: whitesmoke;
    background: #535557;
    color: whitesmoke;
    border-radius: 2px;
    cursor: pointer;
    font-size: clamp(1rem, 1.2vw, 2rem);
    font-variant-caps: all-petite-caps;
    width: min(80px, 5%);
    width: max(100px, 8%);
  }

  .checkbox {
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
    cursor: pointer;
  }